.Title_header {
  position: relative;
  z-index: 4;
  pointer-events: none;
  margin-left: 283px;
  width: 874px;
  min-width: 874px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Heebo;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  background-color: rgba(26, 112, 241, 1);
}

.Title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 59px 66px;
  gap: 10px;
  width: 100%viewportWidth;
  height: 172px;
  background: #1a70f1;
  border-radius: 0px 0px 20px 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 106px;
  width: 1440px;
  height: 852px;
  background: #ffffff;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.Machine {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;
  width: 642px;
  height: 600px;
  left: 212px;
  top: 126px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Inputs {
  width: 220px;
  height: 286px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 34px;
}

.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 4px;
  gap: 16px;

  width: 268px;
  height: 413px;
}

.Items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  max-height: 272px;
  max-width:281px;
  overflow-y: auto;
  width: 281px;
  height: 272px;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 100%;
}
